{% if include.isStaticPost == false %}

Posted: {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}

{% endif %}

{{ content }}

{% if page.next.url %}
<a href="{{ site.baseurl }}{{ page.next.url }}">« {{page.next.title | strip_html | truncate: 15 }}</a>
{% endif %}

{% if page.previous.url %}
<a href="{{ site.baseurl }}{{ page.previous.url }}">{{page.previous.title | strip_html | truncate: 15 }} »</a>
{% endif %}

{% if include.isStaticPost == false %}
{% if site.blogCommentsEnabled %}{% include disqus-comments.html %}{% endif %}
{% endif %}
